$white: #FFFFFF;
$black: #000000;

$positive-color-green: #27AE60;
$negative-color-red: #C0392B;
$positive-color-green-hover: #2ECC71;
$negative-color-red-hover: #E74C3C;

$block-shadow-color: rgba(4, 13, 40, 0.1);
$block-shadow-color-hover: rgba(4, 13, 40, 0.2);

$title-font-size: 25px;
$text-font-size: 18px;
