@import './constants/constants.scss';

*, body, p {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button, input {
  border: 0px;
}

.hidden {
  display: none !important;
}

.horizontal-component {
  margin-top: 50px;
}

.positive {
  background-color: $positive-color-green;
  &:hover {
    background-color: $positive-color-green-hover;
  }
}

.negative {
  background-color: $negative-color-red;
  &:hover {
    background-color: $negative-color-red-hover;
  }
}
